---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <!-- <Header /> -->
    <main>
      <section>
        <div class="bg-[#FAFAFA] py-4 pt- flex flex-col">
          <h1 class="text-7xl flex flex-col">
            <span>Designing a world where</span>
            <span>digital technologies are</span>
            <span>enablers of experiences</span>
          </h1>
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
