---
import BaseHead from "../components/BaseHead.astro";
import Mobile from "../components/Mobile.astro";
import LeftSide from "../components/LeftSide.astro";
import RightSide from "../components/RightSide.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <Mobile />
    <section class="hidden xl:flex flex-row">
      <RightSide />
      <LeftSide />
    </section>
  </body>
</html>
