---

---

<footer>
  <div class="bg-black flex flex-col items-start gap-3 pl-4 py-4">
    <h3 class="text-white text-6xl">Contact</h3>
    <p class="text-white text-3xl">Petros Chantzopoulos</p>
    <p class="text-white text-base">+31 07943998</p>
    <p class="text-white text-base">petros.chantz [at] gmail [dot] com</p>
    <a href="http://" class="text-white text-base no-underline">LinkedIn</a>
  </div>
</footer>
