---

---

<footer>
  <div
    class="bg-black py-24 px-4 md:px-52 flex flex-col items-start gap-6 md:gap-12"
  >
    <h3 class="text-white text-4xl md:text-6xl font-semibold tracking-wider">
      Contact
    </h3>
    <p class="text-white text-2xl md:text-3xl tracking-wider pt-6 md:pt-12">
      Petros Chantzopoulos
    </p>
    <ul class="flex flex-col gap-3 md:gap-6">
      <a
        href="tel:+31651321490"
        class="text-white text-base md:text-xl tracking-wider hover:text-[#EB6124]"
        >+31 0651321490</a
      >
      <a
        href="mailto:petros.chantz@gmail.com"
        class="text-white text-base md:text-xl tracking-wider hover:text-[#EB6124]"
        >petros.chantz@gmail.com</a
      >
      <a
        href="https://www.linkedin.com/in/petroschantz/"
        class="text-white text-base md:text-xl tracking-wider hover:text-[#EB6124] border-b-2 border-b-white hover:border-b-[#EB6124] self-start"
        target="_blank"
        rel="noopener noreferrer">LinkedIn</a
      >
    </ul>
  </div>
</footer>
