---
import Logo from "./Logo.astro";
import MobileAlert from "./MobileAlert.astro";
import Socials from "./Socials.astro";
---

<section class="xl:hidden flex flex-col bg-white pt-12 pb-6 px-12">
  <MobileAlert />
  <Logo />
  <Socials />

  <div class="h-full mb-24">
    <div class="h-[90dvh] flex items-center" id="hero">
      <h1 class="flex flex-col">
        <span>Designing a world where</span>
        <span>digital technologies are</span>
        <span><span class="text-accent">enablers</span> of experiences.</span>
      </h1>
    </div>
    <div class="mt-24 xl:mr-24 flex flex-col gap-48">
      <div class="gap-6 flex flex-col" id="about">
        <h3 class="font-semibold">Hey, I'm Petros!</h3>
        <h3 class="flex flex-col gap-6">
          I'm an Interaction & UX/UI designer.
          <span
            >I design rich, meaningful and expressive digital experiences by
            connecting design, technology and data.</span
          > With my background in product design, engineering and human-computer
          interaction, I craft product experiences for organisations leveraging data
          as a design material.
        </h3>
      </div>

      <div class="flex flex-col gap-24" id="writing">
        <h1>My design philosophy</h1>
        <div class="flex flex-col gap-6">
          <div class="flex flex-row gap-3">
            <div class="flex justify-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-8 h-8 text-accent"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3.75 3.75v4.5m0-4.5h4.5m-4.5 0L9 9M3.75 20.25v-4.5m0 4.5h4.5m-4.5 0L9 15M20.25 3.75h-4.5m4.5 0v4.5m0-4.5L15 9m5.25 11.25h-4.5m4.5 0v-4.5m0 4.5L15 15"
                ></path>
              </svg>
            </div>
            <div class="flex justify-center">
              <h3 class="font-semibold">Societal impact through design</h3>
            </div>
          </div>
          <p class="">
            I don’t design alone in my ivory tower, thinking about an ideal
            world. The mindset of a design practice that is cut off from any
            other discipline is dangerous and narrow-minded. I believe design is
            a crossroad of multiple disciplines and great products are a result
            of even greater teams.
          </p>
        </div>

        <div class="flex flex-col gap-6">
          <div class="flex flex-row gap-3">
            <div class="flex justify-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="w-8 h-8 text-accent"
              >
                <path
                  fill-rule="evenodd"
                  d="M12.963 2.286a.75.75 0 0 0-1.071-.136 9.742 9.742 0 0 0-3.539 6.176 7.547 7.547 0 0 1-1.705-1.715.75.75 0 0 0-1.152-.082A9 9 0 1 0 15.68 4.534a7.46 7.46 0 0 1-2.717-2.248ZM15.75 14.25a3.75 3.75 0 1 1-7.313-1.172c.628.465 1.35.81 2.133 1a5.99 5.99 0 0 1 1.925-3.546 3.75 3.75 0 0 1 3.255 3.718Z"
                  clip-rule="evenodd"></path>
              </svg>
            </div>
            <div class="flex justify-center">
              <h3 class="font-semibold">Designing not as a visual tool.</h3>
            </div>
          </div>
          <p class="">
            I don’t design alone in my ivory tower, thinking about an ideal
            world. The mindset of a design practice that is cut off from any
            other discipline is dangerous and narrow-minded. I believe design is
            a crossroad of multiple disciplines and great products are a result
            of even greater teams.
          </p>
        </div>

        <div class="flex flex-col gap-6">
          <div class="flex flex-row gap-3">
            <div class="flex justify-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="w-8 h-8 text-accent"
              >
                <path d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"></path>
                <path
                  fill-rule="evenodd"
                  d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 0 1 0-1.113ZM17.25 12a5.25 5.25 0 1 1-10.5 0 5.25 5.25 0 0 1 10.5 0Z"
                  clip-rule="evenodd"></path>
              </svg>
            </div>
            <div class="flex justify-center">
              <h3 class="font-semibold">"Show me, don't tell me."</h3>
            </div>
          </div>
          <p class="">
            Experiences are always felt, never described. Designing meaningful
            digital interactions is an act of doing, not an act of “gut
            feelings” and guesswork. As a designer, I embrace and welcome the
            inherently uncertain nature of the design process. I work
            holistically, unravelling assumptions and ambiguities that sit on
            the surface.
          </p>
        </div>

        <div class="flex flex-col gap-6">
          <div class="flex flex-row gap-3">
            <div class="flex justify-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="w-8 h-8 text-accent"
              >
                <path
                  fill-rule="evenodd"
                  d="M8.25 6.75a3.75 3.75 0 1 1 7.5 0 3.75 3.75 0 0 1-7.5 0ZM15.75 9.75a3 3 0 1 1 6 0 3 3 0 0 1-6 0ZM2.25 9.75a3 3 0 1 1 6 0 3 3 0 0 1-6 0ZM6.31 15.117A6.745 6.745 0 0 1 12 12a6.745 6.745 0 0 1 6.709 7.498.75.75 0 0 1-.372.568A12.696 12.696 0 0 1 12 21.75c-2.305 0-4.47-.612-6.337-1.684a.75.75 0 0 1-.372-.568 6.787 6.787 0 0 1 1.019-4.38Z"
                  clip-rule="evenodd"></path>
                <path
                  d="M5.082 14.254a8.287 8.287 0 0 0-1.308 5.135 9.687 9.687 0 0 1-1.764-.44l-.115-.04a.563.563 0 0 1-.373-.487l-.01-.121a3.75 3.75 0 0 1 3.57-4.047ZM20.226 19.389a8.287 8.287 0 0 0-1.308-5.135 3.75 3.75 0 0 1 3.57 4.047l-.01.121a.563.563 0 0 1-.373.486l-.115.04c-.567.2-1.156.349-1.764.441Z"
                ></path>
              </svg>
            </div>
            <div class="flex justify-center">
              <h3 class="font-semibold">Designing is not a solo project</h3>
            </div>
          </div>
          <p class="">
            I don’t design alone in my ivory tower, thinking about an ideal
            world. The mindset of a design practice that is cut off from any
            other discipline is dangerous and narrow-minded. I believe design is
            a crossroad of multiple disciplines and great products are a result
            of even greater teams.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
