---

---

<div
  class="fixed flex flex-col justify-between self-center mx-6 bg-white border-greyDark border-[1px] drop-shadow-2xl p-6 rounded visible"
  id="mobileAlert"
>
  <div class="flex flex-row items-start gap-3">
    <div class="flex justify-start mt-1">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="white"
        class="w-8 h-8"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z"
        ></path>
      </svg>
    </div>

    <div class="flex justify-start">
      <p class="text-lg font-medium">
        Hey! Thanks for visiting my design portfolio. This portfolio is
        specifically created to be viewed in <span
          class="font-semibold underline">large screens</span
        >. Certain elements are hidden in small screens.
      </p>
    </div>
  </div>

  <div class="flex flex-row gap-3 justify-end">
    <button type="button" class="btn-request" btn-resolve-alert
      >Ok, thanks</button
    >
  </div>
</div>

<script>
  import { isMobileOpen } from "../store/store.js";

  isMobileOpen.subscribe((open) => {
    if (open) {
      document.getElementById("mobileAlert")!.style.visibility = "visible";
    } else {
      document.getElementById("mobileAlert")!.style.visibility = "hidden";
    }
  });
</script>

<script>
  import { isMobileOpen } from "../store/store.js";

  function closeAlert() {
    isMobileOpen.set(false);
  }

  const buttons = document.querySelectorAll("[btn-resolve-alert]");

  buttons.forEach((button) => {
    button.addEventListener("click", () => closeAlert());
  });
</script>
