---

---

<div class="flex flex-row gap-6 self-end fixed bottom-6">
  <a href="mailto:petros.chantz@gmail.com" class="link-primary">email</a>
  <a
    href="https://www.linkedin.com/in/petroschantz/"
    target="_blank"
    rel="noopener noreferrer"
    class="link-primary">linkedIn</a
  >
</div>
